<div class="p-6 bg-base-100 rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">{{ title }}</h2>

  <form [formGroup]="plantForm">
    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Name</span>
      </label>
      <input
        type="text"
        class="input input-bordered w-full"
        placeholder="Enter plant name"
        formControlName="name"
      />
      @if (plantForm.get('name')?.invalid && plantForm.get('name')?.touched) {
        <div class="text-error">Name is required.</div>
      }
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Cultivar</span>
      </label>
      <input
        type="text"
        class="input input-bordered w-full"
        placeholder="Enter plant cultivar"
        formControlName="cultivar"
      />
      @if (plantForm.get('cultivar')?.invalid && plantForm.get('cultivar')?.touched) {
        <div class="text-error">Cultivar is required.</div>
      }
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Quantity</span>
      </label>
      <input
        type="number"
        class="input input-bordered w-full"
        placeholder="Enter quantity"
        formControlName="quantity"
      />
      @if (plantForm.get('quantity')?.invalid && plantForm.get('quantity')?.touched) {
        <div class="text-error">Quantity must be at least 1.</div>
      }
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Date</span>
      </label>
      <input
        type="date"
        class="input input-bordered w-full"
        formControlName="date"
      />
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Location</span>
      </label>
      <input
        type="text"
        class="input input-bordered w-full"
        placeholder="Enter location"
        formControlName="location"
      />
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Notes</span>
      </label>
      <textarea
        class="textarea textarea-bordered w-full"
        placeholder="Enter notes"
        formControlName="notes"
      ></textarea>
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Days to Germination</span>
      </label>
      <input
        type="number"
        class="input input-bordered w-full"
        placeholder="Enter days to germination"
        formControlName="days_to_germ"
      />
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Life Cycle</span>
      </label>
      <select
        class="select select-bordered w-full"
        formControlName="life_cycle"
      >
        <option value="annual">Annual</option>
        <option value="perennial">Perennial</option>
        <option value="biennial">Biennial</option>
      </select>
      @if (plantForm.get('life_cycle')?.invalid && plantForm.get('life_cycle')?.touched) {
        <div class="text-error">Life Cycle is required.</div>
      }
    </div>

    <div class="form-control mb-4">
      <label class="label">
        <span class="label-text font-semibold">Days to Maturity</span>
      </label>
      <input
        type="number"
        class="input input-bordered w-full"
        placeholder="Enter days to maturity"
        formControlName="days_to_maturity"
      />
    </div>

    <div class="modal-action flex justify-end space-x-4">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="plantForm.invalid"
        (click)="onSave()"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>